.homepage-container {   
  width: 100%;
  margin: 0px 0px 0px 0px;
  font-family: 'Roboto', sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); /* 210px e max-width-ul cardului tău */
  gap: 20px; /* spațiu între carduri */
  padding: 20px;
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 12px;
  }
}
