.product-list {
  display: flex-inline;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  gap: 30px;
}

@media (max-width: 900px) {
  .cards {
    margin-inline: 30px;
  }
}